
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 200px;
  background-color: #f2f2f2;
  position: relative;
}

.user h1 {
  display: block;
  font-size: 50px;
  margin: 20px auto 0;
  width: 300px;
}

.user h1>small {
  color: #aaaaaa;
  font-size: .5em;
}

header {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  height:   300px;
  position: fixed;
  width:    100%;
  z-index: 0;
  background: black;
}

figure.profile-banner{
  position: relative;
  width: 100%;
  height: 300px;
  z-index:   -1;
}
figure .profile-banner img{
  position: relative;
  width: 100%;
  height: 500px;
  z-index: -10;
}

figure.profile-picture {
  background-position: center;
  border: 5px #efefef solid;
  border-radius: 50%;
  bottom: -50px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
  height: 148px;
  left: 150px;
  position: absolute;
  width: 148px;
  z-index: 3;
}
figure.profile-picture:hover {
      background: rgba(0,0,0,0.7);
}

div.profile-stats {
  bottom: 0;
  border: 1px solid rgba(0,0,0,0.7);
  background: rgba(0,0,0,0.7);
  left: 0;
  padding: 15px 15px 15px 350px;
  position: absolute;
  right: 0;
  z-index: 2;
}

div.profile-stats ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 500px;
}

div.profile-stats ul li {
  color: #efefef;
  display: inline-block;
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-right: 50px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7)
}

div.profile-stats li span {
  display: block;
  font-size: 16px;
  font-weight: normal;
}

div.profile-stats a.follow {
  display: block;
  float: right;
  color: #ffffff;
  margin-top: 5px;
  text-decoration: none;
  background-color: red;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  right: 20px;
}

div.profile-stats a.follow.followed {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}

header>h1 {
  bottom: -50px;
  color: #354B63;
  font-size: 40px;
  left: 350px;
  position: absolute;
  z-index: 5;
}
ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: red;
}
input[type=text] {
    position: absolute;
    width: 70px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 10px 10px 10px;
    height:10px;
    float: right;
    margin: 5px;
    right: 5px;

}

input[type=text]:focus {
    width: 20%;
}
.user{
  border: 2px solid #efefef;
  position: absolute;
  width: 100%;
  height: 100px;
  margin-top:30px; 
  background-color: white;
}
.user h1{
  font-size: 40px;
  position: absolute;
  left: 350px;
}
.user a{
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  position: absolute;
  right: 40px;
  padding: 5px;
  text-decoration: none;
  color: black;
  top:30px;
}
.user a:hover{
  border: 2px solid red;
  color: red;
}
#thumbsWrapper{
    display: block;
    position:relative;
    height:auto;
    width:100%;
    left:0px;
    right:0px;
    top:120px;
    margin-bottom: auto;
}
#content{
   position:absolute;
   border: 0px;
   top:30px;
   height:auto;
   width:100%;
   left:15px;
   background-color:#f2f2f2;
   display: block;
   margin-bottom: auto;
}
#content img{
    position: relative;
    width: 290px;
    height: 300px;
    float:left;
    margin:15px;
    cursor:pointer;
    float: center;
}
#content img:hover{
      box-shadow: 0px 0px 10px #111;
}

.placeholder{
    float:left;
    width:100%;
    height:30px;
    margin-bottom: 100px;
}
div .dd{
  border: 2px solid #efefef;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 10;
  right: 12px;

}
.placeholder{
    float:left;
    clear:both;
    width:100%;
    height:30px;
}
#panel{
    border: 2px solid block;
    border-radius: 5px;
    background-color: #222;
    width:80%;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:80%;
    text-align:center; 
    margin: 100px;

}
#panel img{
    cursor:pointer;
    position:relative;
    border:1px solid #000;
    box-shadow:0px 0px 10px #111;
    display:none;
}

#wrapper{
    position:relative;
    margin:40px auto 0px auto;
}
a#next,
a#prev{
    width:40px;
    height:40px;
    position:fixed;
    cursor:pointer;
    outline:none;
    display:none;
    background:#aaa url(nav.png) no-repeat top left;
}
a#next:hover, a#prev:hover{
    background-color:#fff;
}
a#next{
    right:0px;
    top:50%;
    margin-top:-20px;
    background-position: 0px 0px;
}
a#prev{
    left:0px;
    top:50%;
    margin-top:-20px;
    background-position: 0px -40px;
}
